/* ----- global styles ----- */
#search-header {
  position: fixed;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: #292929;
  color: #666666;
  z-index: 3;
}

#search-field {
  height: 60%;
}

#search-button {
  background-color: #0063dc;
  border: 1px solid rgb(143, 113, 221);
  border-radius: 5px;
  padding: 4px;
  vertical-align: middle;
  margin-left: 10px;
}

#fetching-infos {
  position: fixed;
  bottom: 5px;
  right: 40%;
  height: 30px;
  width: 20%;
  padding-left: 44px;
  line-height: 30px;
  color: rgb(41, 40, 40);
  z-index: 3;
  background-color: rgba(75, 74, 75, 0.33);
  border-radius: 14px;
  border: 1px solid rgb(150, 150, 150);
}

#fetching-infos.hidden {
  display: none;
}

/* ----- smartphones' - up to 768px on 16px base ----- */
@media only screen and (max-width: 48em) {
  #fetching-infos {
    right: 35%;
    background-color: transparent;
    border: none;
  }
}

/* ---- large screens ----- */
@media only screen and (min-width: 48em) {

  #search-field {
    width: 20%;
    margin-left: 60px;
  }

}

.photo {
  margin-bottom: 5px;
}